$text-color: #212121;
$alternate-color: #000000;
$warning-color: #ff9800;
$danger-color: #ff5722;
$success-color: #4CAF50;
$primary-color: #2196F3;
$border-color: #bdbdbd;

$box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
$border: 1px solid $border-color;
$radius: 0.5em;